<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <div class="contact">
      <div class="message">
        <h3>Hubungi Kami</h3>
        <form class="" action="#" method="post">
          <input type="text" name="" value="" placeholder="Nama Lengkap"><br>
          <input type="text" name="" value="" placeholder="Email"><br>
          <textarea name="name" rows="8" cols="80" placeholder="Pesan"></textarea><br>
          <button type="button" name="button">Kirim</button>
        </form>
      </div>
      <div class="contact-detail">
        <h3>Informasi</h3>
        <p>Jl. Menuju Sukes No.01, Jakarta Selatan</p><br>
        <p>(021) 111 222</p><br>
        <p>customerservice@virtupay.com</p>
      </div>
    </div>
  </body>
</html>
