<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <div class="home">
      <div class="left-home">
        <img src="/img/home.png" alt="">
      </div>
      <div class="right-home">
        <h2>Mau Bayar Apapun</h2>
        <h4>Semua bisa di VirtuPay</h4>
      </div>
    </div>
  </body>
</html>
