<!DOCTYPE html>
<html>
<%include partial/head.ejs%>
    <body>
        <%include partial/navbar.ejs%>
        <a href="/transactions/pulsa">Pulsa</a>
        <a href="/transactions/pln">PLN</a>
        <a href="/transactions/paketdata">Paket Data</a>
    </body>

</html>
