<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <div class="order-confirm">
      <h1>SILAKAN LAKUKAN PEMBAYARAN</h1>
      <p>Pesanan Anda akan kami proses setelah pembayaran selesai.</p>
      <a href="/transactions/status">Lihat Transaksi</a>
    </div>
  </body>
</html>
