<!DOCTYPE html>
<html>
<%include partial/head.ejs%>
    <body>
        <%include partial/navbar.ejs%>
        <div class="order">
          <a href="/transactions/pulsa">Pulsa</a>
          <a href="/transactions/pln">PLN</a>
          <a href="/transactions/paketdata">Paket Data</a>
        </div>
    </body>

</html>
