<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
      <table class="main-table">
        <tr>
          <th>Nama Product</th>
          <th>Provider</th>
          <th>Nominal</th>
          <th>Tipe Produk</th>
        </tr>
        <%products.forEach(product=>{%>
          <tr>
            <td><%=product.productName%></td>
            <td><%=product.provider%></td>
            <td><%=product.nominal%></td>
            <td><%=product.productType%></td>
          </tr>
        <%})%>
      </table>
      <a href="/products/add">add product</a>
  </body>
</html>
