<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <%include partial/dashboard.ejs%>
    <div class="table">
      <h3>Penjualan</h3>
        <table class="main-table">
            <tr>
              <th>No</th>
              <th>Tanggal</th>
              <th>No Pesanan</th>
              <th>Nama Barang</th>
              <th>Total Harga</th>
            </tr>
            <tr>
              
            </tr>
        </table>
      </div>
  </body>
</html>
