<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
            <%include partial/dashboard.ejs%>
            <a href="/sales/product">Penjualan Product</a>
                <div class="table">
                    <table class="main-table">
                        <h3>Penjualan</h3>
                        <tr>
                            <th>Nama</th>
                            <th>Nomor Transaksi</th>
                            <th>Total</th>

                        </tr>
                        <%sales.forEach(data=>{%>
                          <%if(data.UserProducts.length != 0){%>
                            <tr>
                                <td>
                                    <%=data.name%>
                                </td>
                                <td>
                                    <ol>
                                        <% data.UserProducts.forEach((hasil)=> { %>
                                            <li>
                                                <%= hasil.Transaction.nota%>

                                            </li>
                                            <%}) %>

                                    </ol>
                                </td>
                                <% let jumlah = 0;
                                data.UserProducts.forEach((hasil)=> {
                                    jumlah +=Number(hasil.Transaction.total)
                                    }) %>
                                    <td>
                                        <%= jumlah%>
                                    </td>


                            </tr>
                            <%}%>
                            <%})%>
                    </table>

                </div>
    </body>

</html>
