<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

  <body>
    <%include partial/navbar.ejs%>
      <div class="form">
        <form class="register-form">
          <input type="text" name="name" placeholder="Nama Lengkap" />
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button>Save</button>
          <p class="message">Sudah daftar? <a href="/login">Masuk</a></p>
        </form>
      </div>
  </body>

</html>