<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <%include partial/dashboard.ejs%>
    <div class="table">
      <h3>Status Pembelian</h3>
      <table class="main-table">
        <tr>
          <td>Tanggal</td>
          <td>Nomor Pesanan</td>
          <td>Total Pembelian</td>
          <td>Status</td>
        </tr>
      </table>
    </div>
  </body>
</html>
