<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
            <div class="form">
                <form class="register-form" action="/transactions" method="POST">
                    <input type="text" name="nota" placeholder="Nota" />
                    <input type="text" name="total" placeholder="Total" />
                    <button>Save</button>

                </form>
            </div>
    </body>

</html>