<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
        <%include partial/dashboard.ejs%>
            <div class="form">
                <form class="register-form" action="/users/signup" method="POST">
                    <input type="text" name="name" placeholder="Nama Lengkap" />
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button>Simpan</button>

                </form>
            </div>
    </body>

</html>
