@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin:0;
  padding:0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("/img/bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  display: block;
  width: 100%;
  height: 120px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.navbar img {
  float: left;
  margin: 20px 0 0 50px;
  height: 80px;
}

.menu {
  float: right;
  text-align: right;
  margin-right: 50px;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  margin: 40px 10px 0 0;
  padding: 10px;
  color: #00c0fc;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
}

.menu a:hover {
  color: #0079b2;
  transition: 0.5s ease-in-out;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 80px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.form p {
  color: red;
  margin-bottom: 10px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ddd;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #34495e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #34495e;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #34495e;
  text-decoration: none;
}

.form select {
  width: 100%;
  border: 0;
  height: 50px;
  padding: 0 10px;
}

.table h3 {
  margin: 10px 0 10px 20px;
}

.main-table {
  margin: auto;
  width: 95%;
  border-collapse: collapse;
}

th {
  color:#eff1fe;
  background:#181935;
  border-bottom:4px solid #9ea7af;
  font-size:18px;
  font-weight: 400;
  padding:10px 24px;
  text-align:left;
}

tr {
  color:#3b3b3b;
  font-size:16px;
}

tr:hover td {
  background:#dedeed;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:1px solid #ccc;
}

tr:nth-child(odd) td {
  background:#efeff6;
}

tr:nth-child(odd):hover td {
  background:#dedeed;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:15px 20px;
  text-align:left;
  font-size:15px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  text-align: center;
  border-right: 0px;
}

td a {
  text-decoration: none;
  color: #3b3b48;
  font-weight: bold;
}

td a:hover {
  color:  #1528b0;
}

.dashboard {
  height: 90px;
  width: 100%;
  background: #005f69;
}

.menu-dashboard {
  float: left;
  height: 100%;
  width: 90px;
  text-align: center;
}

.menu-dashboard a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.menu-dashboard i {
  margin-top: 8px;
  font-size: 45px;
}

.menu-dashboard img {
  margin-top: 10px;
  max-height: 45px;
}

.menu-dashboard:first-child {
  margin-left: 20px;
}

.order-confirm {
  text-align: center;
  margin-top: 90px;
}

.order{
  width: 450px;
  text-align: center;
  margin: 50px auto;
}
.order a {
  text-decoration: none;
  float: left;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0;
  width: 150px;
  background: red;
  color: #fff;
}

.form-order .corder1{
  position: relative;
  z-index: 1;
  background: #0079b2;
  max-width: 360px;
  margin: 75px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.form-order .corder2{
  position: relative;
  z-index: 1;
  background: #0050be;
  max-width: 360px;
  margin: 75px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.form-order .corder3{
  position: relative;
  z-index: 1;
  background: #a35ece;
  max-width: 360px;
  margin: 75px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.form-order p {
  color: red;
  margin-bottom: 10px;
}

.form-order input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ddd;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-order button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #072157;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-order button:hover,.form button:active,.form button:focus {
  background: #34495e;
}
.form-order .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-order .message a {
  color: #34495e;
  text-decoration: none;
}

.form-order select {
  width: 100%;
  border: 0;
  height: 50px;
  padding: 0 10px;
}

.order .corder1 {
  background: #0079b2;
}

.order .corder2 {
  background: #0cacde;
}

.order .corder3 {
  background: #40c8f3;
}
