<div class="dashboard">
      <div class="menu-dashboard">
        <a href="/profile">
          <i class="material-icons">face</i><br>
          Profile
        </a>
      </div>
      <%if (session.role == 'admin'){%>
        <div class="menu-dashboard">
          <a href="/users">
            <i class="material-icons">account_circle</i><br>
            User
          </a>
        </div>
      <div class="menu-dashboard">
        <a href="/products">
          <i class="material-icons">view_list</i><br>
          Produk
        </a>
      </div>
      <%}%>
      <div class="menu-dashboard">
        <a href="/transactions/status">
          <i class="material-icons">swap_horiz</i><br>
          Transaksi
        </a>
      </div>
      <%if (session.role == 'admin'){%>
      <div class="menu-dashboard">
        <a href="/sales">
          <i class="material-icons">done_all</i><br>
          Penjualan
        </a>
      </div>
      <%}%>
      <%if (session.role == 'customer'){%>
      <div class="menu-dashboard">
        <a href="/transactions/history">
          <i class="material-icons">shopping_cart</i><br>
          Pembelian
        </a>
      </div>
      <%}%>
    </div>
