<div class="navbar">
  <img src="/img/logo.png" alt="logo">
  <div class="menu">
    <a href="/">Beranda</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/transactions">Order</a>
    <a href="/products/detail">Produk dan Layanan</a>
    <a href="/contact">Kontak</a>
    <a href="/users/login">Login</a>
  </div>
</div>
