<div class="navbar">
  <img src="/img/logo.png" alt="logo">
  <div class="menu">
    <a href="/">Beranda</a>
    <%if(session.login){%>
      <a href="/profile">Dashboard</a>
    <%}%>
    <a href="/transactions">Order</a>
    <a href="/products/detail">Produk dan Layanan</a>
    <a href="/contacts">Kontak</a>
    <%if(session.login){%>
      <a href="/logout">Logout</a>
    <%}else{%>
      <a href="/users/login">Login</a>
    <%}%>
  </div>
</div>
