<div class="navbar">
  <img src="" alt="logo">
  <div class="menu">
    <a href="/">Beranda</a>
    <a href="/order">Order</a>
    <a href="/product">Produk dan Layanan</a>
    <a href="/contact">Kontak</a>
    <a href="/login">Login</a>
  </div>
</div>
