<div class="order">
  <a class="corder1" href="/transactions/pulsa">Pulsa</a>
  <a class="corder2" href="/transactions/pln">PLN</a>
  <a class="corder3" href="/transactions/paketdata">Paket Data</a>
</div>
